/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--font-color);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  background-image: var(--bg-gradients);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-normal);
}

.content {
  max-width: 696px;
  margin: 0 auto;
}

.header {
  margin: 100px auto 100px;
  border: var(--border-style);
  padding: 116px 0 22px;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.html-decor {
  padding-bottom: 13px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.big-title {
  padding-bottom: 21px;
  font-size: 14px;
}

.theme-menu__list {
  display: grid;
  justify-items: start;
  gap: 9px;
  width: fit-content;
  margin: 0 auto;
  padding-left: 20px;
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 0;
  background-color: currentColor;
  transition: color 0.3s, width 0.3s;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  cursor: initial;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: -12px;
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.card {
  margin-bottom: 50px;
  padding-bottom: 27px;
  outline: var(--border-style);
  outline-offset: -2px;
  background-color: var(--bg-color);
}

.card__header {
  border: var(--border-style);
  border-bottom: none;
  padding: 5px 10px 4px;
  font-size: 18px;
  line-height: 1.2;
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.image-wrapper {
  position: relative;
}

.card__image {
  object-fit: cover;
  object-position: center;
}

.watermark {
  position: absolute;
  top: 25px;
  right: 13px;
  z-index: 2;
  opacity: 0.5;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--bg-color),
    0 1px var(--bg-color),
    1px 0 var(--bg-color),
    0 -1px var(--bg-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .watermark {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
  }
}

.card__image {
  width: 100%;
}

.card__text {
  display: grid;
  gap: 27px;
  padding: 21px 29px 25px 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  gap: 12px;
  padding-right: 27px;
}

.card__icon-button {
  margin-top: 5px;
}

.card__like-button {
  padding-top: 12px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 0.9;
}

.bordered-button {
  position: relative;
  border: var(--border-style);
  font-family: var(--accent-font);
  width: 130px;
  box-shadow: none;
  transition: box-shadow 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 2;
  transition: color 0.5s ease-in-out;
}

.bordered-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 0%;
  height: 100%;
  margin-top: 0;
  background-color: var(--font-color);
  transition: width 0.5s ease-in-out;
}

.bordered-button:focus-visible {
  box-shadow: 2px 2px var(--font-color);
}

.bordered-button:hover::after {
  width: 100%;
}

.bordered-button:hover .button__text {
  color: var(--bg-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .html-decor {
    font-size: clamp(2.5rem, -0.7727rem + 16.3636vw, 3.0625rem);
  }
}
