/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--font-color);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  background-image: var(--bg-gradients);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-normal);
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  margin: 100px auto 100px;
  border: var(--border-style);
  padding: clamp(116px, 111.423px + 1.221vw, 129px) 0 22px;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.html-decor {
  padding-bottom: 13px;
  font-size: clamp(49px, 43.366px + 1.502vw, 65px);
}

.big-title {
  padding-bottom: clamp(18px, 22.056px + -0.282vw, 21px);
  font-size: clamp(14px, 10.831px + 0.845vw, 23px);
}

.theme-menu__list {
  display: grid;
  justify-items: start;
  gap: 9px;
  width: fit-content;
  margin: 0 auto;
  padding-left: 20px;
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 0;
  background-color: currentColor;
  transition: color 0.3s, width 0.3s;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  cursor: initial;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: -12px;
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.card-list {
  display: grid;
  gap: 49px;
}

.card {
  border: var(--border-style);
  padding-bottom: 25px;
  background-color: var(--bg-color);
}

.card__header {
  border-bottom: var(--border-style);
  padding: 5px 10px 3px;
  /* padding: 5px 10px 4px; */
  font-size: 18px;
  line-height: 1.2;
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.image-wrapper {
  position: relative;
  border-bottom: var(--border-style);
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.watermark {
  position: absolute;
  top: 25px;
  right: clamp(13px, 8.07px + 1.315vw, 27px);
  z-index: 2;
  opacity: 0.5;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--bg-color),
    0 1px var(--bg-color),
    1px 0 var(--bg-color),
    0 -1px var(--bg-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .watermark {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
  }
}

.card__text {
  display: grid;
  gap: 27px;
  padding: 25px 27px 25px 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
}

.card:not(:first-of-type) .image-wrapper {
    border-bottom: 4px solid var(--font-color);
}

.card:not(:first-of-type) .card__header {
  padding-bottom: 4px;
}

.card:not(:first-of-type) .card__text {
  padding-top: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 38px;
  justify-content: end;
  gap: 4px;
  padding-right: 27px;
}

.card__like-button {
  width: 130px;
  padding-top: 12px;
  padding-bottom: 9px;
}

.bordered-button {
  position: relative;
  border: var(--border-style);
  box-shadow: none;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--bg-color);
  transition: box-shadow 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 2;
  display: block;
  transition: color 0.5s ease-in-out;
}

.card__like-button::after,
.footer__button::after,
.dialog__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 0%;
  height: 100%;
  margin-top: 0;
  background-color: var(--font-color);
  transition: width 0.5s ease-in-out;
}

.bordered-button:focus-visible {
  box-shadow: 2px 2px var(--font-color);
}

.card__like-button:hover::after,
.footer__button:hover::after,
.dialog__button:hover::after,
.card__icon-button:hover + .card__like-button::after {
  width: 100%;
}

.bordered-button:hover .button__text,
.card__icon-button:hover + .bordered-button .button__text {
  color: var(--bg-color);
  background-blend-mode: difference;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: var(--border-style);
}

.card__icon-button path:not(.contour) {
  fill: transparent;
}

.card__icon-button path.sparks {
  fill: transparent;
}

.card__icon-button .contour {
  transition: fill 0.1s linear;
}

.card__icon-button .core {
  /* убрали курсор */
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button .main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  /* навели курсор */
  fill: var(--font-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--font-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart path {
  animation: heartbeat 0.3s ease-in alternate 2 0.1s;
}

.like-icon.is-liked path.sparks {
  animation: firework 0.3s ease-in alternate 2 0.3s;
}

.footer {
  margin: 50px auto 102px;
}

.footer__button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: clamp(310px, 276.538px + 8.923vw, 339px);
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;
}

.button-save-image {
  z-index: 2;
  width: clamp(21px, 36.077px - 2.154vw, 28px);
  transition: color 0.5s linear;
}

.footer__button:hover .button-save-image {
  color: var(--bg-color);
  background-blend-mode: difference;
}

.dialog {
  max-width: clamp(341px, 335.366px + 1.502vw, 357px);
  border: var(--border-style);
  padding: 31px clamp(32px, 41.465px - 0.657vw, 39px);
  opacity: 0.3;
  color: var(--font-color);
  background-color: var(--bg-color);
}

.dialog__header {
  display: flex;
  gap: 19px;
  margin-bottom: 30px;
}

.dialog__image {
  flex-shrink: 0;
  width: 39px;
}

.dialog__text {
  min-width: 234px;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  width: 100%;
  padding: 9px 0;
  font-size: 14px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.filter__saturate {
  filter: saturate(4);
}

.filter__blur {
  filter: blur(20px);
}

.filter__invert {
  filter: invert(80%);
}

.filter__sepia {
  filter: sepia(0.9);
}

.filter__grayscale-brightness {
  filter: grayscale(70%) brightness(1.1);
}

.filter__contrast-hue-rotate {
  filter: contrast(1.5) hue-rotate(75deg);
}

.filter__saturate-grayscale {
  filter: saturate(200%) grayscale(1);
}

@media (width <= 375px) {
  .html-decor {
    font-size: clamp(2.5rem, -0.7727rem + 16.3636vw, 3.0625rem);
  }

  .dialog {
    max-width: clamp(300px, 61.455px + 74.545vw, 341px);
    padding: 31px clamp(20px, -38.182px + 18.182vw, 30px);
  }
}
